.App {
  text-align: center;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.calendar {
  width: 60%;
}

.new-event {
  width: 20%;
  display: 0 0 40%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  margin-right: 150px;
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
  color: #444;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.welcome {
  text-align: left;
  margin-left: 450px;
}

.new-event h2 {
  margin-bottom: 10px;
}

.error-message {
  color: #ff0000;
  margin-bottom: 10px;
}

.date-picker-container {
  margin-bottom: 10px;
}

.date-picker {
  width: 100%;
  padding: 5px;
}

.event-type-container {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  background-color: #29335c;
  color: #fff;
  border-radius: 5px;
  /* border: solid black; */
  padding: 10px 20px;
  cursor: pointer;
}

.events-list {
  margin-top: 20px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  
}

form-row {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-label {
  width: 120px;
  text-align: right;
  padding-right: 10px;
}

.form-input {
  flex: 1;
}

td {
  text-align: center;
  border: 1px solid black;
  background-color:  #F9E8DC;
}

th {
  text-align: center;
  border: 1px solid black;
}