.App {
  text-align: center;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.calendar {
  width: 60%;
}


ul {
  list-style: none;
  padding-left: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
  color: #444;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.welcome {
  text-align: left;
  margin-left: 450px;
}

.new-event h2 {
  margin-bottom: 10px;
}

.error-message {
  color: #ff0000;
  margin-bottom: 10px;
}


.event-type-container {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  background-color: white;
  color: #fff;
  border: solid black;
  padding: 10px 20px;
  cursor: pointer;
}

.events-list {
  margin-top: 20px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  
}


td {
  text-align: center;
  border: 1px solid black;
  background-color:  #F9E8DC;
}

th {
  text-align: center;
  border: 1px solid black;
}